Abg==2.3.1
pymongo
motor
requests
dnspython
tgcrypto
heroku3
asyncio
python-dotenv
lexica-api
deep-translator
pycgi
apscheduler
Flask
uvloop
psutil
langdetect
speedtest-cli
aiohttp
gitpython
kurigram>=2.2.13
git+https://gitlab.com/badmunda98/BadAPI
